<div class="container mt-100 mt-60 border-bottom pb-5" id="proyectos">
    <div class="row">
        <div class="col-12">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4"><i class="mdi mdi-notebook"></i> Proyectos actuales</h4>
                <p class="text-muted para-desc mb-0">Poyectos que estoy realizando</p>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-md-4 mt-4 pt-2">
            <div class="card work-process border-0 rounded shadow">
                <div class="card-body">
                    <h4 class="title">Chat en angular</h4>
                    <p class="text-muted para">Chat desarrollado en angular con conexion con fireabase</p>
                    <!-- <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a> -->
                    <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                        <li class="step h1 mb-0 font-weight-bold">Proyecto 01.</li>
                        <li class="step-icon"><i class="mdi mdi-chevron-double-right mdi-36px"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-md-4 mt-4 pt-2">
            <div class="card work-process border-0 rounded shadow">
                <div class="card-body">
                    <h4 class="title">Portafolio</h4>
                    <p class="text-muted para">Portafolio de servicios desarrollado en angular.</p>
                    <!-- <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a> -->
                    <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                        <li class="step h1 mb-0 font-weight-bold">Proyecto 02.</li>
                        <li class="step-icon"><i class="mdi mdi-chevron-double-right mdi-36px"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end col-->

        <!-- <div class="col-md-4 mt-4 pt-2">
            <div class="card work-process border-0 rounded shadow">
                <div class="card-body">
                    <h4 class="title">Final Approvement</h4>
                    <p class="text-muted para">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century.</p>
                    <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                        <li class="step h1 mb-0 font-weight-bold">Proyecto 03.</li>
                        <li class="step-icon"><i class="mdi mdi-check-all mdi-36px"></i></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!--end col-->
    </div>
    <!--end row-->
</div>