<div class="">
    <div class="container mt-100 mt-60 mb-5 border-bottom pb-5" id="portfolio">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4"><i class="mdi mdi-briefcase-check"></i> Mi Portafolio </h4>
                    <p class="text-muted para-desc mb-0">Proyectos realizados hasta el momento </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
                    <div class="card-body p-0">
                        <img src="assets/images/portafolio/1.png" class="img-fluid" alt="ETC-LINE-GAMING">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <h5 class="mb-0"><a href="https://www.etclinegaming.com/" target="_blank" class="text-white title">ETC LINE GAMING</a></h5>
                            <h6 class="text-light tag mb-0">Sistema de competicion de videojuegos, desarrollado en laravel</h6>
                        </div>
                        <div class="icons text-center">
                            <a href="assets/images/portafolio/1.png" class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
                    <div class="card-body p-0">
                        <img src="assets/images/portafolio/2.PNG" class="img-fluid" alt="Ventas-Manrique">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <h5 class="mb-0"><a href="http://ventasmanrique.herokuapp.com/" target="_blank" class="text-white title">Ventas Manrique</a></h5>
                            <h6 class="text-light tag mb-0">Sistema de inventariado de productos, desarrollado con laravel y vuejs</h6>
                        </div>
                        <div class="icons text-center">
                            <a href="assets/images/portafolio/2.PNG" class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
                    <div class="card-body p-0">
                        <img src="assets/images/portafolio/3.png" class="img-fluid" alt="SpotiApp">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <h5 class="mb-0"><a href="/" class="text-white title">SpotiApp</a></h5>
                            <h6 class="text-light tag mb-0">Conexion con la api de spotify para mostrar las mejores albums,canciones y artistas. Desarrollado con angular </h6>
                        </div>
                        <div class="icons text-center">
                            <a href="assets/images/portafolio/3.png" class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</div>