<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title">
                    <h4 class="title">Sobre Mi</h4>
                    <h6 class="text-primary mb-4">Desarrollador web </h6>
                    <p class="text-muted mb-0">Soy una persona con mucho poder de aprendizaje, autodidacta,responsable, dinámico y creativo, con iniciativa para resolver problemas eficientemente a corto, mediano y largo plazo logrando alcanzar las metas planteadas en el menor tiempo
                        posible.</p>
                    <div class="mt-4">
                        <a href="#contact" class="btn btn-primary mouse-down"><i class="mdi mdi-phone"></i> Contacto</a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ml-md-4">

                    <!--end process box-->
                    <div class="progress-box  mt-4">
                        <h6 class="title text-muted">Laravel / PHP</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:94%;">
                                <div class="progress-value d-block text-muted h6">94%</div>
                            </div>
                        </div>
                    </div>

                    <!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">Angular / React / Vuejs / JavaScript</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:89%;">
                                <div class="progress-value d-block text-muted h6">89%</div>
                            </div>
                        </div>
                    </div>

                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">PHP / MYSQL</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:95%;">
                                <div class="progress-value d-block text-muted h6">95%</div>
                            </div>
                        </div>
                    </div>
                    <!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">HTML</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:95%;">
                                <div class="progress-value d-block text-muted h6">95%</div>
                            </div>
                        </div>
                    </div>
                    <!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">CSS</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:95%;">
                                <div class="progress-value d-block text-muted h6">95%</div>
                            </div>
                        </div>
                    </div>

                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">WordPress</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" style="width:84%;">
                                <div class="progress-value d-block text-muted h6">84%</div>
                            </div>
                        </div>
                    </div>
                    <!--end process box-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <app-portafolio></app-portafolio>
    <!--end container-->

    <app-proyectos></app-proyectos>
    <!--end container-->
</section>